@model List<PlaceResult>

@{
    var city = ViewData["City"] as string;
}

<div class="container mt-4">
    <h1 class="text-center">Places in @city</h1>
    <div class="row">
        @foreach (var place in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@place.ImageUrl" class="card-img-top" alt="@place.name">
                    <div class="card-body">
                        <h5 class="card-title">@place.name</h5>
                        <p class="card-text">@place.vicinity</p>
                        <a href="https://www.google.com/maps/search/?api=1&query=@place.geometry.location.lat,@place.geometry.location.lng"
                           class="btn btn-primary" target="_blank">View on Map</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
